html, body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

/* Typography */

h2 {
    font-size: 13px;
}

p {
    font-size: 12px;
    font-weight: 400;
}

/* Layout */

.container {
    width: 375px;
}

/* Layout - Header */

header {
    height: 67px;
    padding-bottom: 18px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.logo {
    height: 90%;
}

/* Layout - Post */

.avatar-img {
    height: 34px;
    border-radius: 50%;
    margin: 10px 0;
}

.flex-post-header {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 10px;
}

.portrait-img {
    width: 100%;
    display: block;
}

/* Layout - Likes & Comment */

.flex-icons {
    display: flex;
    padding: 21px 0 12px 10px;
    gap: 17px;
    align-items: center;
    font-size: 22px;
}

.icons-img,
i {
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.icons-img:hover,
i:hover {
    opacity: 0.5;
}

.padding-l {
    padding-left: 13px;
}

.username {
    font-weight: 700;
}

.liked {
    color: red;
}

/* Utility Classes */

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.border-t {
    border-top: 1px solid #C6C6C6;
}
